@import "compass";


$light-grey: #ddd;
$grey: #888;
$dark-grey: #222;


* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	word-wrap: break-word;
}

html, body {
	margin: 0;
	padding: 0;
}

html {
	background: black;
	color: $light-grey;
	font-family: 'Open Sans', sans-serif;
	text-shadow: 2px 2px 5px black;
}

h1 {
	font-family: 'Freckle Face', sans-serif;
	font-size: 6em;
	text-align: center;
	text-shadow: 3px 3px 10px black;
}

h2 {
	font-size: 4.5em;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
	font-weight: 300;
}

.tagline {
	font-size: 2em;
	font-weight: 300;
	margin: 1em auto;

	h2 + & {
		text-align: center;
	}
}

a {
	color: orange;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

/* NAVIGATION */
nav {
	position: fixed;
	right: 2em;
	top: 0;
	z-index: 10;

	a {
		background: $dark-grey;
		background: rgba($dark-grey, 0.8);
		color: $grey;
		float: left;
		font-weight: 300;
		padding: 0.5em 1em;
		text-decoration: none;

		&:first-child {
			border-bottom-left-radius: 5px;
		}
		&:last-child {
			border-bottom-right-radius: 5px;
		}

		&:hover {
			background: rgba($light-grey, 0.4);
			color: $dark-grey;
			text-shadow: none;
		}
	}
}


/* SECTIONS */
.section {
	background-position: top center;
	border-bottom: 6px solid #111;
	background-repeat: no-repeat;
	
	.stellar-on &[data-stellar-background-ratio] {
		background-attachment: fixed;
	}

	.inner {
		@include clearfix;
		margin: 0 auto;
		max-width: 1200px;

		.left {
			float: left;
		}
		.right {
			float: right;
		}
		.left, .right {
			padding: 2em;
			width: 50%;
		}
	}
}

/* CLIENTS */
.clients {
	text-align: center;
	.row {
		img {
			max-width: 30%;
			margin: 0 0 10% 0;
			&:first-child {
				margin-right: 18%;
			}
		}
		&:last-child img {
			margin-bottom: 0;
		}
	}
}


@mixin background($image, $position) {
	background-image: url('/images/backgrounds/' + $image + '.jpg');
	background-position: $position;

	@media screen and (max-width:800px), (max-height:600px) {
		background-position: center center !important;
		background-attachment: scroll;
		background-size: cover;
	}
}

#home {
	background-attachment: fixed;
	@include background('home', left -300px);
}

#what-we-do {
	@include background('what-we-do', center -100px);
}

#sydney-zombie-walk {
	@include background('sydney-zombie-walk', center -100px);
}

#clients {
	@include background('clients', center -100px);
}

#video {
	@include background('video', center -100px);
}

#contact {
	@include background('contact', center -100px);
}



/* Responsive Youtube */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}




@media screen and (max-width:800px) {
	html {
		font-size: 12px;
	}

	.section {
		padding: 40px 0 !important;

		.inner .left, .inner .right {
			float: none;
			width: auto;
			padding: 0 50px;
		}
	}

	h2 {
		margin-bottom: 0.5em;
	}

	.tagline {
		margin-bottom: 0.5em;
	}

	.large-only {
		display: none;
	}
}

@media screen and (max-width:520px) {
	nav {
		display: none;
	}
}